body
{
    background-color: #312d2d;
}
div
{
  margin: 10px;
  border: 0.5px solid black;
  font-size: 20px;
  height: 80px;
}
#background {
    height: 100%;
    background-color: #474a3c;
}
#header {
    background-color: #474a3c;
    margin: 0px;
    height: 50px;
}
#logo
{
  margin:0px;
  width:100px;
  height:100%;
  float:left;
}
#contacts
{
  margin:0px;
  width:30%;
  height:100%;
  float:right;
}
#main
{
  background-color: gray;
  height: 100%;
}
#menu
{
  background-color: green;
  margin:0px;
  height:30px
}
#content
{
  background-color: lightgreen;
  margin:0px;
}
