/* Basic Reset */
* {
    margin: 0;
    padding: 0;
}

html, header, body {
    height:100%;
    width:100%;
}

/* Body Styling */
.body {
    font-family: Arial, sans-serif;
    background-color: #fefde7;
    color: #000000;
}

.header {
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6e9a5;
}

.content {
    padding-top: 30px;
    background-color: #fffcf2;
    display: flex;
    justify-content: center;
    gap: 16%;
    
    position: fixed;
    bottom: 0;
    top: 70px;
    left: 25%;
    right: 25%;
}

.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.navigation ul li a:hover {
    color: #333;
}

.intro {
    text-align: center;
    padding: 20px;
    color: #555;
}

.intro p {
    margin-bottom: 10px;
}

.column {
    width: 34%;
    text-align: center;
}

.column h2 {
    color: #555;
    margin-bottom: 15px;
}

.card {
    display: block;
    background-color: #fff8d6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    position: relative;
    margin: 10px auto;
    width: 100%;
    aspect-ratio: 4 / 3;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
    background-image: url("../Media/Images/SocialNetworks/Discord.png");
}

.card:hover .card-image {
    background-image: url("../Media/SlapSlapping.gif");
}

.card-tags {
    display: flex;
    gap: 5px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.tag {
    background-color: #f6e9a5;
    padding: 5px 8px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.tag img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 30px;
}

#tag_playmarket {
    width: 80px;
}

#tag_itch {
    width: 50px;
}

#tag_steam {
    width: 30px;
}

.intro .tag {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
    font-size: 12px;
    margin: 0 5px;
}

.intro .tag.uiux {
    background-color: #d0ffd6;
}
.intro .tag.writer {
    background-color: #ffd0ff;
}
.intro .tag.localization {
    background-color: #d0e0ff;
}
.intro .tag.sample {
    background-color: #ffffd0;
}